<!DOCTYPE html>
<html lang="en">
<head>
<title>Message With Guide</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Lingua project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/responsive.css">


<link rel="stylesheet" href="/https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
        <div class="top_bar" >
			<div class="top_bar_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
								<div class="top_bar_phone">Zajel- An Najah National University</div>
								<div class="top_bar_right ml-auto">

									<!-- Social -->
									<div class="top_bar_social" >
										<span class="top_bar_title social_title">follow us</span>
										<ul>
											<li><a href="/https://www.facebook.com/ANajahUni/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="/https://www.instagram.com/anajahuni/?igshid=1wpua168f7m37&fbclid=IwAR0QfXr0ZT4vvQ4tCeBs60USzMZF9rYyC-7zrPitTGMC1DHPmTx0FtfXU4k"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											<li><a href="/https://mobile.twitter.com/ANajahUni?fbclid=IwAR13hSFOP3z2qzxllqkmQyNBqXpTj82vg7VppDXshZNoXfpIZbhEJX1TH2I"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="/https://m.youtube.com/user/NajahUniv"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>

										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>				
		</div>

		
		<!-- Header Content -->
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo_container mr-auto">
								<a href="/https://www.najah.edu/ar/">
								<img src="/images/logo.webp" style="width: 90px; height: 80px;">
								</a>
							</div>
							<nav class="main_nav_contaner">
								<ul class="main_nav">
									<li class="active"><a href="/">Home</a></li>
									<li class="menu_mm"><a href="#">Important information</a></li>
				                   <li class="menu_mm"><a href="#">Workshops</a></li>
				                   <li class="menu_mm"><a href="#">Grants and financial aid</a></li>
								</ul>
							</nav>
							

							</div>

                        </div>
                        
                    </div>
                    
                   
                </div>
			</div>
		

	</header>
